<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ComPortIn" value="COM12" />
    <add key="ComPortOut" value="COM15" />
    <add key="TerminatorIn1" value="&#13;"/>
    <add key="TerminatorIn2" value="&#10;"/>
    <add key="TerminatorOut1" value="&#13;"/>
    <add key="TerminatorOut2" value="&#10;"/>

    <!--Add articles to be recognized by application. NO SPACES!!-->
    <add key="Articles" value="1234;1111;2222"/>


  </appSettings>
</configuration>